@import './../../../../assets/colors';

.navbar {
    background: $dualog-blue5;
    color: $dualog-blue80;
}

.navbar a {
    color: $dualog-blue80;
    text-decoration: none;
}

.left-corner {
    display: inline-block;
    align-items: center;
}

.navbar img {
    width: 70px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    font-family: Poppins;
    font-size: 2.5rem;
    color: $primary-color;
    display: inline-block;
    vertical-align: middle;
}

.navtitle {
    font-family: Poppins;
}