<div>
  <h1 align="center" class="h6-about">Welcome to Neptun!</h1>
  <div align="center">
    <img src="./../../../../assets/logo.png" alt="Logo" width="350" />
  </div>
  <div class="box_row">
    <div class="row">
      <div class="col-md-4">
        <div class="about-page-border" align="center">
          <h4 class="h4-about">4</h4>
          <p class="p-about1">users globally!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-page-border" align="center">
          <h4 class="h4-about">Tromsø</h4>
          <p class="p-about1">Headquarters</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-page-border" align="center">
          <h4 class="h4-about">{{todoLength}}</h4>
          <p class="p-about1">TODOs in total!</p>
        </div>
      </div>
    </div>
  </div>

  <h5 align="center" class="h5-about1">What is Neptun?</h5>
  <h5 align="center" class="h5-about2">
    Neptun is a TODO-app developed by the summer students of 2019 at Dualog.
  </h5>

  <hr class="hr-about1"/>

  <h5 align="center" class="h5-about3">Who are we?</h5>

  <p align="center" class="p-about2">
    We are an effective team, specializing in making fully-functional todo-apps with the 
    lastest technology. We have previous experience with the same type of development
    on other platforms as well! To mention a few: Xamarin (to be honest, that's it).
  </p>

  <p align="center" class="p-about2">
    Together, we combine knowledge with passion to make the world a better place!
  </p>

  <p align="center" class="p-about2">
    Our moto is: "Change the world, for the better!"
  </p>

  <h5 align="center" class="h5-about2">TODelO!</h5>

  <hr class="hr-about2"/>

  <div align="center">
    <a class="github-button" href="https://github.com/dualog-students" data-size="large" data-show-count="true" aria-label="Follow @dualog-students on GitHub">
      Follow @dualog-students
    </a>
  </div>
</div>