<div class="todo-card">
  <h1 class="card-title">{{ todo.title }}</h1>

  <div class="bar-of-stuff">
    <div class="card-details">
      <div *ngIf="todo.deadline">
        <div class="deadline">
          <i class="fas fa-stopwatch"></i>
          <span>{{ todo.deadline | date:'short' }}</span>
        </div>
      </div>
      <div class="priority">
        <i class="fas fa-radiation"></i>
        <span>
          <font color={{getColorPriority(todo)}}>{{getPriority(todo)}}</font>
        </span>
      </div>
    </div>
    <div class="test">
      <a (click)="edit(todo)" class="fa fa-edit cursor-pointer"></a>
      <a (click)="deleteTodo(todo)" class="far fa-trash-alt cursor-pointer"></a>
    </div>
  </div>

  <p>{{ todo.description }}</p>

  <div class="date-added-container">
    <div class="date-added">
      <i class="far fa-calendar-alt"></i>
      <span>{{ todo.dateAdded | date:'short'}}</span>
    </div>
  </div>
</div>