@import '../../assets/colors';

.red{
    color: $dualog-red;
}

.orange {
    color: #e67e22;
}

.green {
    color: #27ae60;
}

.priority {
    font-family: Roboto-Medium;
    font-weight: bold;
}
.todo-card {
    width: 70%;
    margin: 64px auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $dualog-blue20;
    line-height: 1.4;
    font-family: Poppins;
    border-radius: 15px;
    overflow: hidden;
    
    .card-title {
        color: $dualog_white;
        padding: 24px;
        background: $dualog-denim;
        position: relative;
        z-index: 1;
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
    }
    
    .bar-of-stuff {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        padding-right: 8px;
        
        .card-details {
            display: flex;
            flex-direction: row;
            color: #5a5a5a;
                       
            .deadline {
                padding-right: 16px;
            }
        }

        .cursor-pointer {
            cursor: pointer;
        }
    }
    
    .fas, .fa, .far {
        font-size: 24px;
        margin-right: 8px;
    }

    p {
        padding-left: 24px;
        font-size: em(13);
        font-weight: 400;
        color: #383838;
    }

    .date-added-container {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: 24px;

        .date-added {
            position: absolute;
            right: 8px;
            bottom: 8px;
            color: #5a5a5a
        }

        .date-added-img {
            width: 28px;
            padding-right: 8px;
        }
    }
    
    .button {
        height: 40px;
    }

    .button-complete {
        width: 100%;
        background-color: $dualog-denim;
        height: 56px;
        color: $dualog_white;
        font-size: 30px;
        font-weight: bold;
    }

    .not-completed {
        background-color: rgb(236, 8, 8);
    }
    
    .button-complete:hover {
        border-color: $dark-slate-blue;
        background: $dualog-aqua;
    }
    
    .button-edit{
        color: $dualog_white;  
    border-color: $dualog-nordic-light;
    }   

    .button-edit:hover{
        border-color: $dark-slate-blue;
        color: $dualog_white;  
        background: $dualog-aqua;
    }

    .button-delete{
        border-color: $dualog-nordic-light;
    }

    .button-delete:hover {
        border-color: $dark-slate-blue;
        color: $dualog_white;
        background: #dc3545;
    }
}
