<div class="todo-card">
  <h1 class="card-title">{{ todo.title }}</h1>

  <div class="card-details">
    <div *ngIf="todo.deadline">
      <div class="deadline">
        <img class="icon deadline-img" src="../../assets/deadline.png">
        <span>{{ todo.deadline | date:'short' }}</span>
      </div>
    </div>
    <div class="priority">
      <img class="priority-img" src="../../assets/priority.png">
      <span><font color={{getColorPriority(todo)}}>{{getPriority(todo)}}</font></span>
    </div>
  </div>
 
  <p>{{ todo.description }}</p>

  <div class="date-added-container">
    <div class="date-added">
      <img class="date-added-img" src="../../assets/date-added.png"> <span>{{ todo.dateAdded | date:'short'}}</span>
    </div>
  </div>

  <button class="button" style="width: 50%" (click)="deleteTodo(todo)">Delete</button>
  <button class="button" style="width: 50%" (click)="edit(todo)">Edit</button>
  <button [ngClass]="[getIsCompleted(todo) ? 'button-complete' : 'button-complete not-completed']" 
          (click)="toggleComplete(todo)">
          {{ getIsCompleted(todo) ? 'Completed' : 'Not Completed' }}
  </button>
</div>
