<div class="container">
    <h1>New todo</h1>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required
        [(ngModel)="todo.title" name="title">
        
      </div>
 
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description">
      </div>
      <div class="form-group">
          <label for="priority">Deadline</label>
          <input type="text" class="form-control" id="priority">
      </div>
      <div class="form-group">
        <label for="priorities">Priority</label>
        <select class="form-control" id="priorities" required>
        <option *ngFor="let p of prior" [value]="proirity">{{p}}</option>
        </select>
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>