<button class="button" (click)="sorting = 'dateAddedNewest'">Sort by newest</button>
<button class="button" (click)="sorting = 'dateAddedOldest'">Sort by oldest</button>
<button class="button" (click)="sorting = 'priorityLow'">Sort by low priority</button>
<button class="button" (click)="sorting = 'priorityHigh'">Sort by high priority</button>

<div class="container">
  <div class="row">
    <div *ngFor="let a of todoList | sortingPipes:sorting">
      <div class="col-4 pt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ a.title }}</h5>
            <p class="card-text">{{ a.description }}</p>
            <p>- Priority: <font color={{getColorPriority(a)}}>{{getPriority(a)}}</font></p>
            <p>- Date added: {{a.dateAdded | date:'short'}}</p>
            <p>- Deadline: {{a.deadline | date:'short'}}</p>
            <p>- Completed: <font color={{getCompleteColor(a)}}> {{ getCompleteMessage(a) }} </font></p>
            <button class="button" style="width:50%" (click)="deleteTodo(a)">Delete</button>
            <button class="button" style="width:50%">Edit</button>
            <button class="button complete-button" style="width:100%" (click)="toggleComplete(a)">Complete</button>
            <div class="dotdot-button">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <button class="fixed-bottom todo-button" (click)="testAddTodo()">
    NEW TODO
  </button>