<div class="container">
  <div class="btn-group" dropdown>
    <button class="button" style="width: 100%" id="button-sort" dropdownToggle type="button"
      aria-controls="dropdown-sort">
      Sort by ⯆ <span class="caret"></span>
    </button>
    <ul id="dropdown-sort" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-sort">
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="sorting = 'dateAddedNewest'"> Sort by newest</a>
      </li>
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="sorting = 'dateAddedOldest'"> Sort by oldest</a>
      </li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="sorting = 'priorityHigh'">Sort high priority</a>
      </li>
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="sorting = 'priorityLow'">Sort low priority</a></li>
    </ul>
  </div>
  <div class="btn-group" dropdown>
    <button class="button" style="width: 100%" id="button-filter" dropdownToggle type="button"
      aria-controls="dropdown-filter">
      Filter by ⯆ <span class="carett"></span>
    </button>
    <ul id="dropdown-filter" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-sort">
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="filter = 'all'"> No filter</a>
      </li>
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="filter = 'completed'"> Completed</a>
      </li>
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="filter = 'notCompleted'">Not completed</a>
      </li>
    </ul>
  </div>
  <div class="todo-cards">
    <div *ngFor="let a of todoList | filter:filter | sortingPipes:sorting">
      <app-todo-card [todo]="a" (updateTodoList)="updateTodoList()"></app-todo-card>
    </div>
  </div>
</div>

<div class="new-todo">
  <button class="todo-button" routerLink="/addTodo">+</button>
</div>