$dualog-white: #fff;
$dualog-black: #000;

$dualog-blue: #02405a;
$dualog-blue90: #1c536b;
$dualog-blue80: #35667b;
$dualog-blue60: #678c9c;
$dualog-blue40: #9ab3bd;
$dualog-blue20: #ccd9de;
$dualog-blue10: #e5ecee;
$dualog-blue5: #f2f5f7;

$dualog-aqua: #51c1b7;
$dualog-aqua80: #76cdc5;
$dualog-aqua60: #98dad4;
$dualog-aqua40: #e5f4f2;
$dualog-aqua20: #f2f9f8;

$dualog-nordic-dark: #d1d2d4;
$dualog-nordic-dark80: #dadbdc;
$dualog-nordic-dark60: #e3e4e5;
$dualog-nordic-dark40: #f7f8f8;
$dualog-nordic-dark20: #fbfbfb;

$dualog-nordic-light: #e4e5e6;
$dualog-nordic-light80: #eaebec;
$dualog-nordic-light60: #eff0f0;
$dualog-nordic-light40: #fbfbfb;
$dualog-nordic-light20: #fdfdfd;

$blue-color: #0081d5;

/*New colors*/
$dualog-red: #a8112b;
$dualog-orange: #faa010;
$dualog-yellow: #fabf0f;
$dualog-denim: #35667b;
$aqua-marine: #51c1b7;
$bluish-grey: #678c9c;
$brown-grey: #959595;
$dark-font-color: #05171d;
$dark-slate-blue: #1c536b;
$dark-slate-greyish-blue: #35667b;
$gunmental: #505a5f;
$ice: #e0f9ec;
$lightish-blue: #4d7cfe;
$light-blue-grey: #ccd9de;
$light-grey-blue: #9ab3bd;
$light-pink: #ffe2e6;
$line-grey: #dddddd;
$marine-blue: #02405a;
$marine-blue5: #f2f5f7;
$modal-dark-font-color: #3e3f42;
$pale: #ffeed9;
$very-light-blue: #e5ecee;
$button-grey: #f2f4f6;
$button-font-grey: #778ca2;
$connect-blue: #045272;

/* Status colors */
$green-status-color-light: #e0f9ec;
$green-status-color-dark: #69e4a6;

$yellow-status-color-light: #ffeed9;
$yellow-status-color-dark: #ffca83;

$red-status-color-light: #ffe2e6;
$red-status-color-dark: #ff7285;
/* Utility */
$white-box-drop-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);

$charcoal: #4d4f5c;
$black-olive: #3c3c3c;

$primary-color: #02405a;
$secondary-color: #51c1b7;