@import './assets/colors';
@import './assets/fonts/Poppins/Poppins.css';
@import './assets/fonts/Roboto/Roboto.css';
@import './assets/button.scss';

body {

    background-color: $dualog-blue5;
}

h1 h2 h3 h4 h5 h6 {

    font-family: 'Poppins';
    color: $primary-color;
}