@import './assets/colors';
@import './assets/fonts/Roboto.css';
@import './assets/button.scss';

body {
    background-color: $secondary-color;

    h1 {
        font-family: 'Roboto-Medium';
        color: $primary-color;
    }
}